* {
  padding: 0;
  margin: 0;
}
/* //Home Content */
.content {
  padding: 5px;
  float: right;
  width: 81%;
  height: auto;
  background-color: white;
}
.content h2 {
  text-align: center;
  margin-top: 20px;
  color: black;
  letter-spacing: 2px;
  line-height: 50px;
}
.content h3,
p {
  float: left;
  margin-top: 20px;
  padding: 0 70px;
}
.content img {
  margin-top: 20px;
  padding-bottom: 50px;
}

.first {
  width: 98%;
  margin: 30px 10px;
  border-radius: 10px;
  background-color: #d9eee1;
  height: 200px;
  padding: 30px 0;
}
.first p {
  display: block;
}

.content ul {
  display: block;
  margin: 30px 60px;
}
.content ul li {
  padding: 5px;
}
